<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.scy.bbs.dao.BoardDao">

    <!--  JOINED Select query의 결과를 담을 때 사용해야만 하는 태그 -->
    <resultMap type="com.ktdsuniversity.edu.scy.bbs.vo.BoardVO" 
               id="BoardVOMap"
               autoMapping="true">
    <!--  컬럼과 맵핑되는 멤버변수의 이름을 연결시킨다.  -->
        <!-- 조회한 컬럼이 PK일 경우 ID 태그를 사용 -->
        <id column="ID" property="id"/>
        <!--  조회한 컬럼이 일반 컬럼일 경우 result 태그를 사용 -->
        <!--<result column="SUBJECT" property="subject"/>-->
        <!-- <association property=""></association>
        <collection property=""></collection>  
        file 일 경우 association 을 사용하고
        List 일 경우 (1ㄷ다) 에서 다를 뽑아오려면 collection 을 사용-->
        <collection property="fileList"
                    ofType="com.ktdsuniversity.edu.scy.file.vo.FileVO"
                    autoMapping="true">
                <id column="FL_ID" property="flID"/>
                <!-- <result column="FL_NM" property="subject"/> -->
        </collection>
    </resultMap>
    
    <select id="getBoardAllCount" resultType="_int">
        SELECT COUNT(1)
          FROM BOARD
    </select>
    
    <select id="getAllBoard" resultType="com.ktdsuniversity.edu.scy.bbs.vo.BoardVO">
        SELECT ID
             , SUBJECT
             , CONTENT
             , EMAIL
             , VIEW_CNT
             , TO_CHAR(CRT_DT, 'YYYY-MM-DD') CRT_DT
             , TO_CHAR(MDFY_DT, 'YYYY-MM-DD') MDFY_DT
             , FILE_NAME
             , ORIGIN_FILE_NAME
          FROM BOARD
        ORDER BY ID DESC
    </select>
    
    <!-- 
    <insert id="createNewBoard" parameterType="com.ktdsuniversity.edu.scy.bbs.vo.BoardVO">
        INSERT INTO BOARD (
         ID, SUBJECT, CONTENT
           , EMAIL, VIEW_CNT
           , CRT_DT, MDFY_DT
           , FILE_NAME, ORIGIN_FILE_NAME )
        VALUES(
          SEQ_BOARD_PK.NEXTVAL, #{subject}, #{content}
          , #{email}, 0
          , SYSDATE, SYSDATE
          , #{fileName}, #{originFileName} )
    </insert>
     -->
    <insert id="insertNewBoard" 
            parameterType="com.ktdsuniversity.edu.scy.bbs.vo.BoardWriteRequestVO">
        <selectKey order="BEFORE" 
                   resultType="_int"
                   keyProperty="id">
        <!-- ID 값을 생성해주는 태그 -->
            SELECT SEQ_BOARD_PK.NEXTVAL
              FROM DUAL
        </selectKey>
        INSERT INTO BOARD 
         (ID
        , SUBJECT
        , CONTENT
        , EMAIL
        , VIEW_CNT
        , CRT_DT
        , MDFY_DT
        , FILE_NAME
        , ORIGIN_FILE_NAME )
        VALUES
          (#{id}
         , #{subject}
         , #{content}
         , #{email}
         , 0
         , SYSDATE
         , NULL
         , NULL
         , NULL )
    </insert>
    
    <update id="updateViewCountBy" parameterType="_int">
        UPDATE BOARD
        SET VIEW_CNT = VIEW_CNT + 1
        WHERE ID = #{_parameter}
    </update>
    
    <select id="getOneBoard" 
            parameterType="_int" 
            resultMap="BoardVOMap">
    SELECT B.ID
	     , B.SUBJECT
	     , B.CONTENT
	     , B.EMAIL
	     , B.VIEW_CNT
	     , TO_CHAR(B.CRT_DT, 'YYYY-MM-DD') AS CRT_DT
	     , TP_CHAR(B.MDFY_DT, 'YYYY-MM-DD') AS MDFY_DT
	     , F.FL_ID
	     , F.FL_NM
	     , F.OBFS_FL_NM
	     , F.OBFS_FL_PTH
	     , F.FL_SZ
	  FROM BOARD B
	 LEFT OUTER JOIN "FILE" F
	   ON B.ID = F.ID
	WHERE B.ID = #{_parameter}
    </select>
    
    <update id="updateOneBoard" parameterType="com.ktdsuniversity.edu.scy.bbs.vo.BoardVO">
        UPDATE BOARD
           SET SUBJECT = #{subject}
             , CONTENT = #{content}
             , EMAIL = #{email}
             , MDFY_DT = SYSDATE
         WHERE ID = #{id}
    </update>
    
    <delete id="deleteOneBoard" parameterType="_int">
     DELETE 
       FROM BOARD
      WHERE ID = #{_parameter}
    </delete>
    
</mapper>